<nav>

  <h1>Eva Ticha  - Dolmetscherin, Übersetzerin</h1>

</nav>


  <section >
    <hr />
    <h1>Kontaktdaten</h1>
    <article>
      <h1>Telefonisch</h1>
      <p>+49 / 9201 9188 345</p>
      <p>+420 / 737 471 989</p>
    </article>
    <article>
      <h1>Per Email </h1>
      <p> tichaeva@web.de</p>

    </article>
    <article>
      <h1>Anschrift</h1>

      <p>An der Mühle 8 </p>
      <p>95503 Hummeltal</p>
      <p>Beruflicher Wohnsitz: Bayreuth</p>
      <p>Ust-IdNr.: DE325905498</p>
    </article>
  </section>
