<div *ngIf="hero">

  <h2>{{hero.name | uppercase}} </h2>

  <div *ngIf="hero.id >= 15 && hero.id <= 18">
    Als qualifizierte Konferenzdolmetscherin verfüge ich über langjährige Erfahrungen in allen Arten des Dolmetschens. Dazu gehören Simultandolmetschen, Konsekutivdolmetschen, Verhandlungsdolmetschen und Begleitdolmetschen.
    Ich halte streng alle berufsethischen Regeln wie Verschwiegenheit und Professionalität ein. Ich nehme nur solche Aufträge an, die ich qualifiziert durchführen kann und die mein Terminkalender ermöglicht. In anderen Fällen empfehle ich gerne einen Kollegen.
    Ein Bestandteil jedes Dolmetschauftrags ist eine gründliche Vorbereitung, die in meinem Stundensatz eingeschlossen ist.
    Sonstige Informationen über die Berufsethik eines Konferenzdolmetschers, die ich befolge, finden Sie hier: https://aiic.net/page/6724/code-of-professional-ethics-2018-version/lang/1


    Mein Sprachprofil:
    Tschechisch: A-Sprache (Muttersprache)
    Deutsch: A-Sprache (Muttersprache)

    Ausbildung: Dolmetscherschule Prag (Karls-Universität)
  </div>

  <div *ngIf="hero.id >= 19 && hero.id <= 22">
    <h3>FACHÜBERSETZUNGEN</h3>
    <p>
      Eine hochwertige Fachübersetzung erfordert nicht nur die Kenntnisse der jeweiligen Sprache, sondern auch Anwendung der richtigen Fachterminologie. Außerdem ist der Zweck der Übersetzung zu berücksichtigen.
      Jeder kompetente Übersetzer arbeitet nur in gewissen Fachgebieten, die er am besten beherrscht. Meine Stärke ist Rechtssprache und Sprache der Wirtschaft und Verwaltung. Außerdem bin ich häufig in Bereichen Medizin, Malerei, Geschichte, Schulwesen, internationale Beziehungen, Politik, Werbung, Marketing, Psychologie, Elektrotechnik und Verpackungsindustrie tätig. Ich übersetze sowohl aus dem Deutschen ins Tschechische als auch aus dem Tschechischen ins Deutsche. In beiden Richtungen erreichen meine Übersetzungen ein Muttersprachlerniveau. Ein Ausgangstext im Slowakischen stellt kein Problem dar.


    </p>  </div>
  <div *ngIf="hero.id == 13">
    <h3>FACHÜBERSETZUNGEN</h3>
    <p>
      Eine hochwertige Fachübersetzung erfordert nicht nur die Kenntnisse der jeweiligen Sprache, sondern auch Anwendung der richtigen Fachterminologie. Außerdem ist der Zweck der Übersetzung zu berücksichtigen.
      Jeder kompetente Übersetzer arbeitet nur in gewissen Fachgebieten, die er am besten beherrscht. Meine Stärke ist Rechtssprache und Sprache der Wirtschaft und Verwaltung. Außerdem bin ich häufig in Bereichen Medizin, Malerei, Geschichte, Schulwesen, internationale Beziehungen, Politik, Werbung, Marketing, Psychologie, Elektrotechnik und Verpackungsindustrie tätig. Ich übersetze sowohl aus dem Deutschen ins Tschechische als auch aus dem Tschechischen ins Deutsche. In beiden Richtungen erreichen meine Übersetzungen ein Muttersprachlerniveau. Ein Ausgangstext im Slowakischen stellt kein Problem dar.
      </p>
  </div>
  <div *ngIf="hero.id == 14">
    4Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  </div>

</div>
