<article>
  <h1><a>Eva Ticha  - Dolmetscherin, Übersetzerin</a></h1>
  <h2>Deutsch-Tschechisch</h2>
</article>
<article>
  <h1>Über mich</h1>
    <a>
      Willkommen!
      Mein Name ist Eva Ticha, ich bin seit acht Jahren als freiberufliche Dolmetscherin und Übersetzerin tätig.
      In Vrchlabi (Tschechische Republik) geboren endete meine schulische Laufbahn mit dem tschechischen Abitur,
      die ich mit Auszeichnung bestanden habe. Kurz danach wurde ich zum Studium an der Dolmetscherschule in Prag zugelassen,
      wo ich meine Ausbildung als Konferenzdolmetscherin und Fachübersetzerin abgeschlossen habe. Meine Abschlussarbeit,
      die ich im Mai 2014 erfolgreich verteidigt habe, beschäftigte sich mit einer kommentierten Fachübersetzung eines Buches
      aus dem Bereich Psychologie und Neurowissenschaft.
    </a>
</article>
<article>
  <h1>Studium</h1>
    <a>
      Mein 4-jähriges Studium wurde durch zahlreiche Dolmetscheinsätze im deutschsprachigen Ausland
      und durch Fachübersetzungen begleitet. Im Anschluss daran vertiefte ich meine Kenntnisse der Übersetzungs-
      und Dolmetschwissenschaft durch das Studium der Deutschen Philologie an der Universität Pardubice.
      Ich legte meine Staatsprüfung in den Fächern Deutsche Sprache, Analyse des Fachtextes
      und Deutsche Literatur und Kultur mit Auszeichnung ab. Für meine Abschlussarbeit Anglizismen im deutschen
      und im Tschechischen: ein Vergleich erhielt ich den Universitätspreis für die beste Abschlussarbeit.
    </a>
</article>
<article>
  <h1>Erfahrung</h1>
    <a>
      Meine freiberufliche Übersetzungs- und Dolmetschtätigkeit hat im Jahr 2011 angefangen.
      Inzwischen liegen Tausende übersetzte Seiten und Hunderte verdolmetschte Tage hinter mir.
      Verträge, Urkunden, internationale Konferenzen, technische Schulungen, Messen, Geschäftsverhandlungen oder Staatsbesuche prägen meinen Alltag.
      Seit 2019 wohne ich in Bayreuth.
      Mit der tschechischen und deutschen Sprache und den deutsch-tschechischen Beziehungen befasse ich mich praktisch
      lebenslang, indem beide Sprachen mir als Muttersprachen beigebracht wurden. Mein Bildungsweg, mein Alltag
      und meine Freizeit bestehen gleichmäßig aus der deutschen und tschechischen Sprache.
    </a>
</article>
<article>
  <h1>KUNDENSTIMMEN</h1>
    <div>
      <a> Natürlich halte ich alle persönlichen Angaben meiner Klienten für vertraulich, daher finden Sie im Folgenden keine Namen.
      </a>
      <ul>
        <li><a><i> Ich war sehr zufrieden.</i></a></li>
        <li><a><i> Ich bin mit den Übersetzungen immer sehr zufrieden. Bei Übersetzungen von Eva Ticha schätze ich Zuverlässigkeit, terminologische Genauigkeit, Sorgfältigkeit und eine schnelle Lieferung.</i></a></li>
        <li><a><i> Perfekte Kommunikation, schnelle Antwort, Einhaltung des Liefertermins. Vielen Dank für Ihre Arbeit. </i></a></li>
        <li><a><i> Hervorragende Dolmetscherin. Sehr zu empfehlen. </i></a></li>
        <li><a><i> Hervorragendes Deutsch, Zuverlässigkeit, sehr professionelle Herangehensweise.</i></a></li>
        <li><a><i> Eva ist eine exzellente Dolmetscherin, die qualitativ hochwertige Arbeit leistet.</i></a></li>
        <li><a><i> Hervorragende Dolmetscherin. </i></a></li>
        <li><a><i> Ich kann Eva Ticha empfehlen. Sie hat für unser Verlag das Korrekturlesen eines im Deutschen geschriebenen Buches geliefert. Eva ist sehr flexibel. Man kann sich auf sie vollkommen verlassen. Sie hat als Übersetzerin und Dolmetscherin eine Menge von Erfahrungen.</i></a></li>
      </ul>
    </div>
</article>
<img src="../angular-tour-of-heroes/src/app/ueber-mich/Bew.jpg" >
